"*":
  core:
    disabledPackages: [
      "vim-mode"
      "linter"
      "linter-eslint"
    ]
    excludeVcsIgnoredPaths: false
    telemetryConsent: "no"
    themes: [
      "atom-light-ui"
      "solarized-dark-syntax"
    ]
  editor: {}
  "exception-reporting":
    userId: "47efe528-41ba-683f-d6e4-cc333643dbc6"
  "linter-eslint":
    eslintrcPath: "~/.eslintrc"
  "markdown-preview":
    useGitHubStyle: true
  "plantuml-preview":
    dotLocation: "/usr/local/bin/dot"
    jarLocation: "/usr/local/Cellar/plantuml/8046/plantuml.8046.jar"
    useTempDir: false
  "plantuml-viewer":
    graphvizDotExecutable: "/usr/local/bin/dot"
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
